body {
  width: 300px;
  font-family: Arial, sans-serif;
  padding: 10px;
}

h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

h2 {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
}

input, select, button {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 5px;
}

#categoryList li {
  cursor: pointer;
}

#tabList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tabList li span {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

